.search {
}
#search-inp {
  border-radius: "20px";
  height: "20px";
  padding: "10px";
  width: "20%";
  margin-right: "10px";
}

.search .btn {
  height: "40px";
  padding: "10px";
  background-color: "#44aabb";
  border-radius: "20px";
  min-width: "20px";
  color: "#fff";
}
